{% extends "base.html" %}

{% load url from future %}

{% block extrahead %}
<title> appmag.in - One stop shop for all app news, reviews and more.. </title>
{% endblock %}
{% block content %}

		<ul id="crumbs">			
			<li>Browse by :</li>
			<li>Category</li>
			<li><a href = "{% url 'platform' %}">Platform</a></li>
			<li><a href = "{% url 'device' %}">Device</a></li>
			<li><a href = "{% url 'developer' %}">Developer</a></li>
		</ul>
        {% autoescape off %}
		<div class="listing">
			<ul>
			{% for p in profile%}

				<li>
					<a href ="{% url 'getcategory' p.slug %}">{{p.name}} </a><br>
				</li>

			{%endfor%}
			</ul>
		</div>
{%endautoescape %}
{% endblock %}
