{% extends "base.html" %}

{% load url from future %}

{% load browse_tags %}
{%block extrahead%}
	{% autoescape off %}
<title> {{profile.0.title}} - {{profile.0.developer}} for {{profile.0.get_platform_display}}</title>
{% include "carousel.html" %}
{% endautoescape %}
{%endblock %}
{% block content %}

	<style> 
	#demo-frame > div.demo { padding: 10px !important; }
	.scroll-pane { overflow: auto; width: 99%; float:left; }
	.scroll-content { width: 2440px; float: left; }
	.scroll-content-item { width: 320px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
	* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
	.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
	.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
	.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
	.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; background:#ACC806; }
	.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
	</style> 
	<script> 
    $.fn.rating.options.split = 2;
	$(function() {
		//scrollpane parts
		var scrollPane = $( ".scroll-pane" ),
			scrollContent = $( ".scroll-content" );
		
		//build slider
		var scrollbar = $( ".scroll-bar" ).slider({
			slide: function( event, ui ) {
				if ( scrollContent.width() > scrollPane.width() ) {
					scrollContent.css( "margin-left", Math.round(
						ui.value / 100 * ( scrollPane.width() - scrollContent.width() )
					) + "px" );
				} else {
					scrollContent.css( "margin-left", 0 );
				}
			}
		});
		
		//append icon to handle
		var handleHelper = scrollbar.find( ".ui-slider-handle" )
		.mousedown(function() {
			scrollbar.width( handleHelper.width() );
		})
		.mouseup(function() {
			scrollbar.width( "100%" );
		})
		.append( "<span class='ui-icon ui-icon-grip-dotted-vertical'></span>" )
		.wrap( "<div class='ui-handle-helper-parent'></div>" ).parent();
		
		//change overflow to hidden now that slider handles the scrolling
		scrollPane.css( "overflow", "hidden" );
		
		//size scrollbar and handle proportionally to scroll distance
		function sizeScrollbar() {
			var remainder = scrollContent.width() - scrollPane.width();
			var proportion = remainder / scrollContent.width();
			var handleSize = scrollPane.width() - ( proportion * scrollPane.width() );
			scrollbar.find( ".ui-slider-handle" ).css({
				width: handleSize,
				"margin-left": -handleSize / 2
			});
			handleHelper.width( "" ).width( scrollbar.width() - handleSize );
		}
		
		//reset slider value based on scroll content position
		function resetValue() {
			var remainder = scrollPane.width() - scrollContent.width();
			var leftVal = scrollContent.css( "margin-left" ) === "auto" ? 0 :
				parseInt( scrollContent.css( "margin-left" ) );
			var percentage = Math.round( leftVal / remainder * 100 );
			scrollbar.slider( "value", percentage );
		}
		
		//if the slider is 100% and window gets larger, reveal content
		function reflowContent() {
				var showing = scrollContent.width() + parseInt( scrollContent.css( "margin-left" ), 10 );
				var gap = scrollPane.width() - showing;
				if ( gap > 0 ) {
					scrollContent.css( "margin-left", parseInt( scrollContent.css( "margin-left" ), 10 ) + gap );
				}
		}
		
		//change handle position on window resize
		$( window ).resize(function() {
			resetValue();
			sizeScrollbar();
			reflowContent();
		});
		//init scrollbar size
		setTimeout( sizeScrollbar, 10 );//safari wants a timeout
	});
    $(document).ready(function(){

            $(".slidingDiv").hide();
            $(".show_hide").show();
            $('.show_hide').click(function(){
            $(".slidingDiv").slideToggle();
         });
     });

	</script> 
	
		<ul id="crumbs" >
			<li>Browse by :</li>
			<li><a href="{%url 'home' %}">Category</a></li>'
			<li><a href = "{%url 'device' %}">Device</a></li>
			<li><a href = "{%url 'developer' %}">Developer</a></li>
			<li><a href = "{%url 'platform' %}">Platform</a></li>
		</ul>
<div id="app_detail">
	<div id="app_header">
	{% autoescape off %}
	{% for p in profile%}
		<div id="app_title">
			<h1><a href ="/app/{{p.slug}}">{{p.title}} </a> <span>by {{p.developer}}<a href="/developer/{{p.developer.slug}}">   more from this developer</a></span></h1>
		</div>
		<div id="rater">
		    <div id="rate">
        {% for i in "0123456789" %}
        <input name="adv1" type="radio" class="star"{% ifequal forloop.counter p.rating|rounded %} checked="checked"{% endifequal %} disabled="disabled" />
        {% endfor %}
        </div>       
	</div>
	<!-- LEFT CONTAINER STARTS -->
	<div id="appinfo">
		<div id="appicon"><img src="{{p.logo}}" width = "130" height = "130"/></div>
		<div id="price">Price : {{p.price}}</div>
		<div id="infolist">
			<ul>
			<li><span >Category : </span> <a href = "{% url 'getcategory' p.category.slug %}"> {{p.category.name}}</a></li>
			<li><span >Rating : </span>{{p.rating}}/5.0</li>
			<li><span >Language : </span>English</li>
		{%if also%}
        <li><span >Also for : </span>
<!--//      Added to remove duplication, have to reset when fresh database is there.
{% for each in also %}
//          <a href ="{% url 'getapplication1' each.get_platform_display each.title %}">{{each.title}}<i>  for  </i>{{each.get_platform_display}}</li>
//           {% endfor %}-->
          <a href ="{% url 'getapplication1' also.0.get_platform_display also.0.slug %}">{{also.0.title}}<i>  for  </i>{{also.0.get_platform_display}}</li>

        {%endif%}</a>
			<li><span >Devices : </span>
{%if p.device.count > 1%}
			<b class = show_hide>show devices</a></b>
            <div class="slidingDiv">
            {%for dev in p.device.all%}
			   <a href = "{% url 'getdevice' dev.slug%}">{{dev.name}}</a>
			{%endfor%}
            </div>
{%else%}
            {%for dev in p.device.all%}
			   <a href = "{% url 'getdevice' dev.slug%}">{{dev.name}}</a>
			{%endfor%}
               {%endif%}
               {%if p.developer.slug %}
			<li><span >Developer : </span><a href="{% url 'getdeveloper' p.developer.slug %}">{{p.developer}}</a></li>
            {%endif%}
            {% if morelinks %}
			<li><span >More Links : <br/></span>
			{%for links in morelinks%}
			   <a href = "{{links.link}}">{{links.link}}</a>
			{%endfor%}
            {%endif%}
            </li>
			<a href ="{{p.url}}" class="bigButton blackButton blueButton">DOWNLOAD</a>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!-- LEFT CONTAINER ENDS -->
<!-- DESCRIPTTION CONTAINER STARTS -->
	<div id="app_description">
<a href = "/"> Home</a> &raquo;<a href="{% url 'getplatform' p.get_platform_display%}">{{p.get_platform_display}}</a>&raquo; <a href="{% url 'getcategory' p.category.slug %}">{{p.category.name}}</a> &raquo; {{p.title}}	
		<h2>DESCRIPTION :</h2>
		{{p.description}}
	</div>
<!-- DESCRIPTTION CONTAINER ENDS -->
	<div class="clear"></div>
	
	
<!-- SLIDER START --> 

<h2>Screenshots:</h2>
<div class="demo">  
	<div class="scroll-pane ui-widget ui-widget-header ui-corner-all"> 	
		<div class="scroll-content" > 	
			{%for thumb in p.thumbnails.all %}
					<div class="scroll-content-item ui-widget-header" >										
							<img src="{{thumb.image}}" width="320"/>									
					</div> 	
			{%endfor%}					
		</div> 
		<div class="scroll-bar-wrap ui-widget-content ui-corner-bottom"> 
			<div class="scroll-bar"></div> 
		</div> 
	</div>  
</div>

<!-- SLIDER END --> 
 




{%endfor%}
<div class="clear"></div>
<br/>
	<div class="matrix_grid">
{% if developerlist %}
<h2>More from this developer</h2>
<!-- MORE FROM THIS DEVELOPER STARTS -->
		<ul id = "mycarousel1">
	{% for app in developerlist%}		

			<li>				
				<a href = "{% url 'getapplication1' profile.0.get_platform_display app.2 %}"><img src="{{app.1}}" width="140" /><br/>{{app.0|slice:'40'}}<br></a>				
			</li>
	{%endfor%}
		</ul>
    {%endif%}
	</div>
<!-- MORE FROM THIS DEVELOPER ENDS -->
<div class="clear"></div>
{% if related %}

<h2>Related Apps</h2>
<!-- RELATED APPS STARTS HERE -->
<div class="matrix_grid">
	<ul id="mycarousel" >
	{% for app in related%}
		<li>	
			<a href = "{% url 'getapplication1' profile.0.get_platform_display app.2 %}"><img src="{{app.1}}"  width="140" /><br/>{{app.0|slice:'40'}}<br></a>
		</li>
	{%endfor%}
	</ul>
</div>
{%endif%}
<!-- RELATED APPS ENDS HERE -->
<div class="clear"></div>
{% endautoescape %}
{% endblock %}
