<!DOCTYPE HTML>
<html>

<head>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/typography.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" />

<link href='http://fonts.googleapis.com/css?family=Tinos:regular,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
</head>

<body>
Browse by <a href="/browse/">Category</a>&nbsp; <a href = "/device/">Device</a>&nbsp; <a href = "/developer/">Developer</a>&nbsp; <a href = "/platform/">Platform</a>
<div id="app_detail">
<div id="app_header">
{% autoescape off %}
{% for p in profile%}
<div id="app_title"><h1>
<a href ="/app/{{p.slug}}">{{p.title}} </a> <span>
{{p.developer}}<a href="/developer/{{p.developer.slug}}">   more from this developer</a>
</span>
</h1>
</div>
<div id="rate"></div>       
<div class="clear"></div>
<div id="appinfo">
<div id="appicon"><img src="{{p.logo}}" width = "130" height = "130"/></div>
<div id="infolist">
<ul>
<li><span >Category : </span> {{p.category}}</li>
<li><span >Released : </span>Lifestyle</li>
<li><span >Rating : </span>{{p.rating}}</li>
<li><span >Language : </span>Lifestyle</li>
<li><span >Devices : </span>
{%for dev in p.device.all%}
   <a href = "/device/{{dev.slug}}">{{dev.name}}</a>
{%endfor%}
<li><span >Developer : </span>{{p.developer}}</li>
<li><span >Current version : </span >Lifestyle</li>
<li><span >Download it : </span><a href ="{{p.url}}">here</a></li>
</ul>
</div>

</div>
<div id="price">Price : {{p.price}}</div>
<div class="clear"></div>
</div>
<div id="app_description">
<h2>DESCRIPTION :</h2>
{{p.description}}
</div>


<div>jquery slider comes here</div>

</div>
</body>

</html>







<br>
Category : <a href ="/category/{{p.category.slug}}">{{p.category}}</a><br>
Screenshots:
{%for thumb in p.thumbnails.all %}
<img src="{{thumb.image}}"/>
{%endfor%}
{%endfor%} <br>
More from this developer<br>
{% for app in developerlist%}
<a href = "{% url getapplication app.2 %}"><img src="{{app.1}}"/>
{{app.0}}<br></a>
{%endfor%}
Related Apps<br>
{% for app in related%}
<a href = "{% url getapplication app.2 %}"><img src="{{app.1}}"/>
{{app.0}}<br></a>
{%endfor%}

{% endautoescape %}
