{% extends "base.html" %}
{%load pagination_tags%}
{% block extrahead %}
<title>Appmag.in - Apps for iPhone, Android, Blackberry and windows Mobile -detailed, with reviews</title>
{% endblock %}
{% block content %}

		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url home %}">Category</a></li>
			<li><a href ="{% url platform %}">Platform</a></li>
			<li><a href = "{% url device %}">Device</a></li>
			<li>Developer</li>
		</ul>
	

{%autopaginate profile 25 %}
		<div class="listing">
			<ul>
				{% for p in profile%}
				<li><a href ="{% url getdeveloper p.slug %}">{{p}} </a><br></li>
				{%endfor%}
			</ul>
		</div>
{%paginate %}
{% endblock %}
