{% extends "base.html" %}
{%load pagination_tags %}
{% block content %}
	<div id="homebase">
	<div>App Mag</div>
		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url home %}">Category</a></li>
			<li><a href = "{% url developer %}">Developer</a></li>
			<li><a href = "{% url platform%}">Platform</a></li>
			<li>Device</li>
		</ul>
	{%autopaginate profile 25 %}
	{% for p in profile%}
	<a href ="{% url getdevice p.slug %}">{{p}} </a><br>
	{%endfor%}
	{%paginate%}
	</div>
{% endblock %}