<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/typography.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/buttons.css" />
<link href='http://fonts.googleapis.com/css?family=Tinos:regular,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="homebase">
	<div>App Mag</div>
		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url device %}">Device</a></li>
			<li><a href = "{% url developer %}">Deveoper</a></li>
			<li><a href = "{% url platform %}">Platform</a></li>
			<li><a href="{% url home%}">Category</a></li>
		</ul>

{% for p in profile%}
<a href ="{% url getcategory p.slug %}">{{p}} </a><br>
{%endfor%}
</div>
