{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}

		<ul id="crumbs">			
			<li>Browse by :</li>
			<li><a href = "{% url device %}">Device</a></li>
			<li><a href = "{% url developer %}">Deveoper</a></li>
			<li><a href = "{% url platform %}">Platform</a></li>
			<li>Category</li>
		</ul>
		<div class="listing">
			<ul>
			{% for p in profile%}

				<li>
					<a href ="{% url getcategory p.slug %}">{{p}} </a><br>
				</li>

			{%endfor%}
			</ul>
		</div>

{% endblock %}
