{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}

		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url reviews %}">Reviews</a></li>
			<li><a href ="{% url home %}">Browse Apps</a></li>
			<li><a href ="{% url discuss %}">Discuss</a></li>
			<!--<li><a href ="/search/">Search</a></li>-->
		</ul>
		<div id="searchbar">
			<input type="text" name="q" id="textfield" class="searchfield">
			<input type="submit" value="Search" class="smallButton blackButton blueButton">		
		</div>
		<div id="mobile_platforms"> 
			<div class="indi_mobile">
				<div class="mobilogo"><a href = "{% url getplatform 'AP' %}"><img src="{{MEDIA_URL}}images/apple_icon.png" width="100px"/></a></div>
				<a href = "{% url getplatform 'AP' %}">iPhone</a>
			</div>
			<div class="indi_mobile">
				<div class="mobilogo"><a href = "{% url getplatform 'AP' %}"><img src="{{MEDIA_URL}}images/android_icon.png" width="100px"/></a></div>
				<a href = "{% url getplatform 'AP' %}">Android</a>
			</div>
			<div class="indi_mobile">
				<div class="mobilogo"><a href = "{% url getplatform 'AP' %}"><img src="{{MEDIA_URL}}images/blackberry_icon.png" width="100px"/></a></div>
				<a href = "{% url getplatform 'AP' %}">Blackberry</a>
			</div>
			<div class="indi_mobile">
				<div class="mobilogo"><a href = "{% url getplatform 'AP' %}"><img src="{{MEDIA_URL}}images/windows_icon.png" width="100px"/></a></div>
				<a href = "{% url getplatform 'AP' %}">Windows Phone</a>
			</div>		
			<div class="clear"></div>			
		</div>
		<br/><br/>

{% endblock %}