<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/typography.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/buttons.css" />
<link href='http://fonts.googleapis.com/css?family=Tinos:regular,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="homebase">
		<div>App Mag</div>
		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url reviews %}">Reviews</a></li>
			<li><a href ="{% url home %}">Browse Apps</a></li>
			<li><a href ="{% url discuss %}">Discuss</a></li>
			<li><a href ="/search/">Search</a></li>
		</ul>
		<div> 
			<div>mobile 1</div>
			<div>mobile 2</div>
			<div>mobile 3</div>
			<div>mobile 4</div>			
		</div>
		

	</div>
</body>
</html>
