<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/typography.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/buttons.css" />
<link href='http://fonts.googleapis.com/css?family=Tinos:regular,bold,bolditalic&v1' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="base">
		<br><a href = "{% url reviews %}">>Reviews</a>
		<br><a href ="{% url home %}">>Browse Apps</a>
		<br><a href ="{% url discuss %}">>Discuss</a>
		<br><a href ="/search/">>Search</a>
	</div>
</body>
</html>
