{% extends "base.html" %}
{%load pagination_tags %}
{% block extrahead %}
{% endblock %}
{% block content %}

		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url device %}">Device</a></li>
			<li><a href = "{% url developer %}">Deveoper</a></li>
			<li><a href = "{% url platform %}">Platform</a></li>
			<li><a href="{% url home %}">Category</a></li>
		</ul>
		
		<div class="matrix_grid">
		{% autopaginate profile 25%}
		{% for p in profile%}
		<ul>
			<li>
				<img src= "{{p.1}}" width="140"/><br/><a href ="{% url getapplication p.2 %}">{{p.0}} </a><br/>
			</li>
		</ul>
		{%endfor%}
		</div>
		<div class="clear"></div>
		{% paginate %}

{% endblock %}