{% extends "base.html" %}
{% load pagination_tags %}
{% block extrahead %}
<title>{{slug}}</title>
{% endblock %}
{% block content %}

			<ul id="crumbs">
				<li>Browse by :</li>
				<li><a href = "{% url device %}">Device</a></li>
				<li><a href = "{% url developer %}">Developer</a></li>
				<li><a href = "{% url platform %}">Platform</a></li>
				<li><a href="{% url home %}">Category</a></li>
			</ul>
		<!--Now browsing by <a href="{% url developer %}">Developer</a><br>Browse by <a href = "{% url device %}">Device</a>&nbsp;<a href = "{% url home %}">Category</a>&nbsp;<a href = "{% url platform%}">Platform</a>
		<br>-->
		<div class="matrix_grid">
		{%autopaginate profile 25 %}

			<ul>
				{% for p in profile%}
						<li>
							<img src= "{{p.1}}" width="140"/><a href ="{% url getapplication1 platform p.2 %}"><br/>{{p.0|slice:'40'}} </a><br>
						</li>			
				{%endfor%}
			</ul>

		<div class="clear"></div>

		{% paginate %}
		</div>

{% endblock %}
