{% extends "base.html" %}
{% load pagination_tags %}
{% block extrahead %}
<title>Appmag.in - Apps for {{slug}}</title>
{% endblock %}
{% block content %}

			<ul id="crumbs">
				<li>Browse by :</li>
				<li><a href = "{% url device %}">Device</a></li>
				<li><a href = "{% url developer %}">Deveoper</a></li>
				<li><a href = "{% url platform %}">Platform</a></li>
				<li><a href="{% url home %}">Category</a></li>
			</ul>
 
 
 <!--Now browsing by <a href="{% url platform %}">Platform</a><br>Browse by <a href = "{% url device %}">Device</a>&nbsp;<a href = "{% url developer %}">Developer</a>&nbsp;<a href = "{% url home %}">Category</a>
<br>-->
			{%if profile %}
			   {% autopaginate profile 25%}
			   <div class="matrix_grid">
				{% for p in profile%}
					<ul>
						<li>
							<img src= "{{p.1}}" width="140"/><br/><a href ="{% url getapplication p.2 %}">{{p.0}} </a><br>
						</li>
					</ul>
				{%endfor%}
				</div>
				<div class="clear"></div>
				{% paginate %}					 
			{% else %}
			Sorry.. No apps found!!
			{%endif%}

{% endblock %}
