{% extends "base.html" %}
{%load pagination_tags %}
{% block extrahead %}
{% endblock %}
{% block content %}

		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url home %}">Category</a></li>
			<li><a href = "{% url developer%}">Developer</a></li>
			<li><a href = "{% url device %}">Device</a></li>
			<!--<li><a href ="/search/">Now browsing by Platform</a></li>-->
			<li>Platform</li>
		</ul>
		<div class="listing">
			<ul>
				{%for p in profile%}

				<li>
				<a href ="{% url getplatform p.1 %}">{{p.1}} </a><br>
				</li>

				{%endfor%}
			</ul>
		</div>



	{%autopaginate profile 25 %}

	{%paginate%}
{% endblock %}
