{% extends "base.html" %}
{%load pagination_tags %}
{% block content %}

		<ul id="crumbs">
			<li>Browse by :</li>
			<li><a href = "{% url home %}">Category</a></li>
			<li><a href = "{% url developer%}">Developer</a></li>
			<li><a href = "{% url device %}">Device</a></li>
			<!--<li><a href ="/search/">Now browsing by Platform</a></li>-->
			<li>Platform</li>
		</ul>
		<div id="platforms_list">
			{%for p in profile%}
			<a href ="{% url getplatform p.0 %}">{{p.1}} </a><br>
		{%endfor%}
		</div>



	{%autopaginate profile 25 %}

	{%paginate%}
{% endblock %}